<%= link_to "/projects/#{project.source}/#{project.slug}", class: "list-group-item" do %>
  <div class="d-flex justify-content-between align-items-center">
    <h5 class="mb-1"><%= project.name %></h5>
    <span class="badge bg-primary rounded-pill"><%= project.latest_version || "0.0.0"%></span>
  </div>
  <small><%= image_tag "icons/#{project.source}.svg", width: 16 %> <%= project.slug %></small>
<% end %>
